*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #F8F8FB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: min(80vw, 450px);
    height: min(65vh, 490px);
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 12px 24px #12263f0d;
    font-size: 13px;
}

.header{
    background-color: #d4daf8;
    color: #556EE6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 20px;
}

.header img{
    height: 100%;
}

.titles{
    margin-top: 12px;
}

h1{
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}
 h2{
    font-size: 13px;
    font-weight: 400;
 }

 /*Formulario*/
 form{
     position: relative;
     padding-top: 60px;
     padding-left: 22px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     font-size: 13px;
     color:#495057;
 }

 form img{
     width: 72px;
     border-radius: 50%;
     border: 3px solid #FFF;
     position: absolute;
     top:calc((72px/2)*-1);
     left: 22px;
 }

label{
     font-weight: 500;
     margin-top: 8px;
 }

 .inputs-login{
    border: 1px solid #CED4DA;
    width: min(395px,90%);
    height: 36px;
    border-radius: 4px;
    margin: 8px 0px;
    padding-left: 10px;
 }

 .inputs-login::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
 }

 input[type='button']{
    background-color: #556EE6;
    border: none;
    border-radius: 4px;
    width: min(395px,90%);
    height: 36px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 8px;
 }

 .container p{
    text-align: center;
    margin-top: 22px;
    color: #74788D;
 }
 /* Checkbox */

 .remember{
    margin: 8px 0px;
 }
 input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    padding-left: 23px;
  }
  
  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 0;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    vertical-align: bottom;
  }
  
  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 5px;
    height: 10px;
    border-right: solid 2px #556EE6;
    border-bottom: solid 2px #556EE6;
    transform: rotate(45deg);
  }

.signup{
    text-align: center;
    font-size: 13px;
    margin-top: 34px;
    font-weight: 400;
}

.signup p a{
    font-weight: 500;
    color: #556EE6;
}

.signup p:nth-child(2){
    margin-top: 16px;
}